{% extends 'index.html' %}

{%  block header %}
<title>Заказ</title>
{% endblock %}

{%  block header_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/itc-slider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/popup.css') }}">
{% endblock %}

{% block body %}

    <div class="container-fluid text-center container-fluid__position" >
    <div class="itc-slider pb-5" data-slider="itc-slider" data-loop="true">

        <div class="itc-slider__wrapper">
            <div class="itc-slider__items ">
                {% for product_name in products.get_products_names() %}
                <div class="itc-slider__item">
                    <div class="container-md text-center container-md__width">
                        <h2 class="pb-4 ">{{product_name}}</h2>

                        <div class="row">
                            {% for product in products.get_product(product_name)%}
                            <div class="col-4 pe-2">
                                <div class="card-header pb-3">
                                    <h3>{{product.get("name")}}</h3>

                                </div>
                                <div class="card-body pb-1 ">
                                    <img src={{product.get("img_src")}} alt="Картинка">
                                </div>
                                <div class="card-footer mb-5">
                                    <p class="pb-1">от {{product.get("cost")[0]}}₽</p>
                                    <button class="card-button rounded" data-product="{{get_popup_header(product_name, product.get('name'))}}"
                                    data-cost="{{products.get_product_cost(product)}}">
                                        Добавить</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            <div>

            </div>
            </div>
          <button class="itc-slider__btn itc-slider__btn_prev"></button>
          <button class="itc-slider__btn itc-slider__btn_next"></button>
        </div>
    </div>
    <a href="{{ url_for('get_order') }}" class="view-order btn btn-warning" data-onclick="view-order">Оформить заказ</a>
    </div>


<div class="toast-container position-fixed bottom-0 end-0 p-3">

</div>
{% include 'popup.html' %}


{% block body_scripts %}
    <script src="{{ url_for('static', filename='/js/itc-slider.js') }}" defer></script>
    <script src="{{ url_for('static', filename='/js/product.js') }}" defer></script>

{% endblock %}

{% endblock %}
