<div id="popup" class="popup">

  <div class="popup-content bg-warning-subtle ">
    <form id="popup-form">
    {{ product_form.hidden_tag() }}
    <h3 class="mb-2 text-center" id="popup-h3" data-toggle="popup-h3">Заголовок</h3>
    <h4 class="text-center">Размер</h4>
    <div class=" row button-row flex-nowrap justify-content-center mb-2">
      <button class="col-3 me-2 popup-size" id="popup-size-s" type="button" data-cost='0'>S</button>
      <button class="col-3 me-2 popup-size" id="popup-size-m" type="button" data-cost='0'>M</button>
      <button class="col-3  popup-size" id="popup-size-l" type="button" data-cost='0'>L</button>
    </div>
    <h4 class="text-center">Убрать</h4>
    <div class="removes">
      <div class="row removes-item">
          <div class="col-4 ms-2">
              <span class="removes-name">Лук</span>
          </div>
          <div class="col-1 offset-5">
            <label class="switch">
              {{product_form.onion()}}
              <span class="slider round"></span>
            </label>
          </div>
      </div>
      <div class="row removes-item">
          <div class="col-4 ms-2">
            <span class="removes-name">Перец</span>
          </div>
          <div class="col-1 offset-5">
            <label class="switch">
              {{product_form.peper()}}
              <span class="slider round"></span>
            </label>
          </div>
      </div>
    </div>
    <h4 class="text-center">Добавить</h4>
    <div class="addones mb-2">
      <div class="row addones-item">
          <div class="col-7 me-2">
            <span class="addones-name">Картофель фри</span>
          </div>
          <div class="col-1">
            <span class="addones-price">+30₽</span>
          </div>
          <div class="col-1 offset-1">
              <label class="switch">
                  {{product_form.free()}}
                  <span class="slider round"></span>
              </label>
          </div>

      </div>
      <div class="row addones-item">
          <div class="col-7 ">
            <span class="addones-name">Мясо</span>
          </div>
          <div class="col-1 ms-2">
              <span class="addones-price">+40₽</span>
          </div>
          <div class="col-1 offset-1">
            <label class="switch">
              {{product_form.meat()}}
              <span class="slider round"></span>
            </label>
          </div>
      </div>
      <div class="row addones-item">
          <div class="col-7">
            <span class="addones-name">Капуста</span>
          </div>
          <div class="col-1 ms-2">
            <span class="addones-price">+15₽</span>
          </div>
          <div class="col-1 offset-1">
            <label class="switch">
              {{product_form.cabbage()}}
              <span class="slider round"></span>
            </label>
          </div>
      </div>
      <div class="row addones-item">
          <div class="col-7">
            <span class="addones-name">Морковь</span>
          </div>
          <div class="col-1 ms-2">
            <span class="addones-price">+15₽</span>
          </div>
          <div class="col-1 offset-1">
            <label class="switch">
                {{product_form.carrot()}}
                <span class="slider round"></span>
            </label>
          </div>
      </div>
    </div>
    <div class="row popup-footer align-items-center">
      <div class="col-2 me-2">
        <span id="popup-cost-text">Цена: </span>
      </div>
        <div class="col-1 me-3">
            <span id="popup-cost">0₽</span>
        </div>
        <div class="col-3 offset-3">
            <button type="button" id='popup-add-button' class="add-button border-0 rounded invisible">Добавить</button>
        </div>
    </div>
  </form>
  </div>

</div>
